attr==0.3.2
beautifulsoup4==4.12.2
ConfigParser==6.0.0
cryptography==37.0.2
Cython==3.0.0
dl==0.1.0
docutils==0.18.1
feedparser==6.0.10
google_api_python_client==2.97.0
google_auth_oauthlib==1.0.0
HTMLParser==0.0.2
httplib2==0.20.4
ipython==8.14.0
ipywidgets==8.1.0
Jinja2==3.0.3
jnius==1.1.0
keyring==23.11.0
lockfile==0.12.2
moviepy==1.0.3
numpy==1.24.4
Pillow==10.0.0
playwright==1.31.0
protobuf==4.24.1
pydub==0.25.1
pyOpenSSL==23.2.0
python-dotenv==1.0.0
railroad==0.5.0
Sphinx==7.2.2
tornado==6.3.3
trove_classifiers==2023.7.6
truststore==0.7.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
yt_dlp==2023.7.6
discord
